In [1]:
print("Hello World")

Hello World

In [3]:
a = 4
b = 15
c = a * b
print(c)

60

**Python Programming**
- Variables and values
- Data Types
- Operators
- Conditional programming
- Loops
- Functions

In [6]:
#Variables - used to store a value for reuseablity
x = 21
print(x)

21

In [7]:
print(x * 3)
print(x / 2)

63
10.5

In [8]:
x = 21
y = 5.5
z = x * y
print(z)

115.5

In [13]:
name, age, city = 'Rajesh' , 22 , 'Pune'
print(name)
print(age)
print(city)

Rajesh
22
Pune

In [14]:
a = b = c = 101
print(a)
print(b)
print(c)

101
101
101

In [15]:
name, age, city, salary = 'Rajesh' , 22 , 'Pune' , 550099.50
print(name)
print(age)
print(city)
print(salary)

Rajesh
22
Pune
550099.5

In [19]:
print(type(name))
print(type(age))
print(type(city))
print(type(salary))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

In [21]:
text = "Python is fun"
print(text)
print(type(text))

Python is fun
<class 'str'>

**Data Types in Python Programming**
- Numeric - int , float
- Non-numeric - String
- Sequential - List, Tuple , Dictionary
- Non-Sequential - Set
- Boolean

In [23]:
cities = ["Pune" , "Delhi" , "Chennai" , "Mysore" , "Hyderabad"]
print(cities)
print(type(cities))

['Pune', 'Delhi', 'Chennai', 'Mysore', 'Hyderabad']
<class 'list'>

In [25]:
names = ("Jai" , "Adam" , "Sameer" , "Pavan")
print(names)
print(type(names))

('Jai', 'Adam', 'Sameer', 'Pavan')
<class 'tuple'>