**List** 

    - Sequential inbuilt data structure
    - stores multiple values in single variable
    - Mutables

In [1]:
cities = ["Mumbai" , "Delhi" , "Bengaluru" , "Hyderabad", "Chennai"]

In [2]:
print(cities)

['Mumbai', 'Delhi', 'Bengaluru', 'Hyderabad', 'Chennai']

In [4]:
print(cities[0])
print(cities[1])
print(cities[2])

Mumbai
Delhi
Bengaluru

**List Operations**

In [23]:
print(cities)

cities[2] = "Mysore"

print(cities)
print()
print(type(cities))

['Mumbai', 'Delhi', 'Hyderabad', 'Chennai', 'Indore']
['Mumbai', 'Delhi', 'Mysore', 'Chennai', 'Indore']

<class 'list'>

**functions of list**

  - append() - to add a new entity into the existing list
  - insert() - to insert an entity into the existing list at a defined index
  - remove() - to remove an entity from the list
  - pop() - to remove an entity from list using index
  - index() - to know the index of an entity

In [8]:
print(cities)
cities.append('Indore')
print(cities)

['Mumbai', 'Delhi', 'Mysore', 'Hyderabad', 'Chennai']
['Mumbai', 'Delhi', 'Mysore', 'Hyderabad', 'Chennai', 'Indore']

In [10]:
print(cities)
cities.insert(2,'Jaipur')
print(cities)

['Mumbai', 'Delhi', 'Mysore', 'Hyderabad', 'Chennai', 'Indore']
['Mumbai', 'Delhi', 'Jaipur', 'Mysore', 'Hyderabad', 'Chennai', 'Indore']

In [11]:
print(cities)
cities.remove('Mysore')
print(cities)

['Mumbai', 'Delhi', 'Jaipur', 'Mysore', 'Hyderabad', 'Chennai', 'Indore']
['Mumbai', 'Delhi', 'Jaipur', 'Hyderabad', 'Chennai', 'Indore']

In [13]:
print(cities)
cities.pop(2)
print(cities)

['Mumbai', 'Delhi', 'Jaipur', 'Hyderabad', 'Chennai', 'Indore']
['Mumbai', 'Delhi', 'Hyderabad', 'Chennai', 'Indore']

In [16]:
print(cities)
print(cities.index('Chennai'))

['Mumbai', 'Delhi', 'Hyderabad', 'Chennai', 'Indore']
3

In [17]:
print(cities)
print(len(cities))

['Mumbai', 'Delhi', 'Hyderabad', 'Chennai', 'Indore']
5

**Tuple**

 - Sequential inbuilt data structure
 - stores multiple values in single variable
 - Immutable

In [22]:
colors = ("blue" , "green" , "pink" , "red" , "yellow")
print(colors)
print(type(colors))

('blue', 'green', 'pink', 'red', 'yellow')
<class 'tuple'>

In [20]:
colors[1] = 'purple'

TypeError: 'tuple' object does not support item assignment

In [21]:
print(colors.index("pink"))

2

**Dictionary**

  - sequential key value pair
  - Mutable

In [25]:
emp_details = {'name': 'Jai' , 'city' : 'Delhi' , 'age' : 22}

print(emp_details)
print(type(emp_details))

{'name': 'Jai', 'city': 'Delhi', 'age': 22}
<class 'dict'>

In [28]:
print(emp_details['name'])
print(emp_details['city'])
print(emp_details['age'])

Jai
Delhi
22

In [29]:
print(emp_details.keys())
print(emp_details.values())

dict_keys(['name', 'city', 'age'])
dict_values(['Jai', 'Delhi', 22])

In [30]:
emp_details['name'] = 'pavan'
print(emp_details)

{'name': 'pavan', 'city': 'Delhi', 'age': 22}

In [31]:
emp_details['salary'] = 34000.50
print(emp_details)

{'name': 'pavan', 'city': 'Delhi', 'age': 22, 'salary': 34000.5}

In [32]:
del(emp_details['age'])
print(emp_details)

{'name': 'pavan', 'city': 'Delhi', 'salary': 34000.5}

**sets**

     - Non-sequential
     - unique values

In [35]:
ids = {10, 12, 15, 17, 19, 20, 10, 15, 17}

print(ids)
print(type(ids))

{17, 19, 20, 10, 12, 15}
<class 'set'>

**Boolean**

 - True / False

In [36]:
status = True
print(status)
print(type(status))

True
<class 'bool'>

**Operators & Operands**

    - Arthmetic
    - Assignment
    - Comparasion
    - Logical
    - Membership

In [39]:
#Arthmetic

a = 17
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)    #exponential - 17 raised to the power of 5
print(a // b)      #floor   - integer output
print(a % b)      #Modulus

22
12
85
3.4
1419857
3
2

In [40]:
#Assignment
x = 21

In [41]:
x += 2
print(x)

23

In [42]:
x -= 3
print(x)

20

In [43]:
x *= 2
print(x)

40

In [44]:
x /= 6
print(x)

6.666666666666667

In [45]:
x **= 2
print(x)

44.44444444444445

In [46]:
x //= 3
print(x)

14.0

In [47]:
x %= 5
print(x)

4.0

In [52]:
#Comparasion

a = 12
b = 7

print(a == 12)
print(b == 7)
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

True
True
False
True
True
False
True
False

In [56]:
#Logical - and / or

print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [60]:
age = 21
weight = 65

print(age > 18 and weight > 50)
print(age > 18 and weight < 50)
print(age < 18 and weight > 50)
print(age < 18 and weight < 50)

True
False
False
False

In [61]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [62]:
age = 21
weight = 65

print(age > 18  or weight > 50)
print(age > 18 or weight < 50)
print(age < 18 or weight > 50)
print(age < 18 or weight < 50)

True
True
True
False

In [64]:
#Membership

name = "Pavan Singh Negi"
print('P' in name)
print('Q' in name)

True
False

In [ ]:
name = "Pavan Singh Negi"
print('P' not in name)
print('Q' not in name)