**Conditional Programming**

In [ ]:
print("Hello")

Hello

In [ ]:
age = 21

if age > 18:
  print("You are eligible to vote")

You are eligible to vote

In [ ]:
age = 17

if age > 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

You are not eligible to vote

In [ ]:
#WAP to accept marks of a student and compare it to assign grades

marks = int(input("Enter Your Marks "))      #user inputs are by default considered as string in python, so typecast it into numeric
print(marks)

print(marks > 80)

Enter Your Marks 87
87
True

In [ ]:
#WAP to accept marks of a student and compare it to assign grades,
# if marks is greater the 40 then pass else fail

marks = int(input("Enter your marks"))

if marks > 40:
  print("Pass")
else:
  print("Fail")

Enter your marks76
Pass

In [ ]:
#marks > 90 => 'grade A+'
#marks > 80 => 'grade A'
#marks > 70 => 'grade B+'
#marks > 60 => 'grade B'
#marks > 50 => 'grade C+'
#marks > 40 => 'grade C'
#else => 'fail'


marks = int(input("Enter your marks"))

if marks > 90:
  print("Grade A+")
if marks > 80:
  print("Grade A")
if marks > 70:
  print("Grade B+")
if marks > 60:
  print("Grade B")
if marks > 50:
  print("Grade C+")
if marks > 40:
  print("Grade C")
else:
  print("Fail")

Enter your marks93
Grade A+
Grade A
Grade B+
Grade B
Grade C+
Grade C

In [ ]:
marks = int(input("Enter your marks"))

if marks > 90:
  print("Grade A+")
elif marks > 80:
  print("Grade A")
elif marks > 70:
  print("Grade B+")
elif marks > 60:
  print("Grade B")
elif marks > 50:
  print("Grade C+")
elif marks > 40:
  print("Grade C")
else:
  print("Fail")

Enter your marks75
Grade B+

In [ ]:
#Simulate a login activity
#userid - ........
#password - ........
#compare userid and password -> if both are correct => login success

userid = input("Enter your user id ")
userpass = input("Enter the password ")

if userid == 'admin' and userpass == 'password':
  print("You are logged in")
else:
  print("Incorrrect credentials")

Enter your user id admin
Enter the password pass
Incorrrect credentials

**Loops**

  - For loop
  - While loop

In [ ]:
print("Hello World!!")
print("Hello World!!")
print("Hello World!!")
print("Hello World!!")
print("Hello World!!")

Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

In [ ]:
for i in range(0,5):
  print(i , "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [ ]:
cities = ["Mumbai", "Delhi", "Bengaluru", "Hyderabad", "Chennai"]

print(cities[0] , len(cities[0]))
print(cities[1] , len(cities[1]))
print(cities[2] , len(cities[2]))
print(cities[3] , len(cities[3]))
print(cities[4] , len(cities[4]))

Mumbai 6
Delhi 5
Bengaluru 9
Hyderabad 9
Chennai 7

In [ ]:
cities = ["Mumbai", "Delhi", "Bengaluru", "Hyderabad", "Chennai"]

for i in range(0,5):
  print(cities[i] , len(cities[i]))

Mumbai 6
Delhi 5
Bengaluru 9
Hyderabad 9
Chennai 7

In [ ]:
cities = ["Mumbai", "Delhi", "Bengaluru", "Hyderabad", "Chennai"]

for city in cities:
  print(city, len(city))

Mumbai 6
Delhi 5
Bengaluru 9
Hyderabad 9
Chennai 7

In [ ]:
#Login activity => allow user to provide loginid and password for 3 times

for i in range(0,3):
  userid = input("Enter your user id ")
  userpass = input("Enter the password ")

  if userid == 'admin' and userpass == 'password':
    print("You are logged in")
    break
  else:
    print("Incorrrect credentials")

Enter your user id dfghj
Enter the password cvgbhj
Incorrrect credentials
Enter your user id admin
Enter the password password
You are logged in

In [ ]:
#take a number as user input
#create a multiplication table from 1 to 10 for the number entered by user

number = int(input("Enter a number"))

for i in range(1,11):
  print(f"{i} * {number} = {i * number}" )

Enter a number9
1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90

In [ ]:
name = "Gagan"

print(f"Hello {name}")

Hello Gagan

In [ ]:
print('7' * 2)
print(7 * 2)

77
14